*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* .row {
    display: flex;
} */
/* .card {
    width: 8vw;
    margin-bottom: 2%;
} */

.mod{
    width: 49%;
    object-fit: cover;
    /* margin: 7px; */
    background-color: rgb(75, 141, 125);
    border-radius: 30px;
    padding: 15px;

}

.box{
    margin-left: 25%;
    /* margin-top: 9%; */
    /* display: none; */
}

.box-show{
    display: block;

}



.score{
    margin-top: 0;
    padding-top: 40px;
    right: 10%;
    text-align: right;
    position: relative;
    /* position: relative; */
    font-size: 1.8rem;
    color: white;

}

.bgg{
    /* display: block; */
    position: absolute;
    z-index: -1;
    width: 100vw;
    object-fit: cover;
    left: 0;
    /* overflow: hidden; */
}

.count{
    position: absolute;
    font-size: 3rem;
    color: black;
    /* z-index: 1; */
    /* top: -29vh; */
    top: 0;
    left:25vw;
    margin: auto;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

.howdy{
    margin: auto;
    top: 15vh;
    left: -1vw;
    width: 30vw;
    position: absolute;
    /* display: none; */
}

.warden{
    position: absolute;
    margin: auto;
    width: 32vw;
    top: 15%;
    left: 70%;
}

.count-done{
    display: none;
}

.box-container{
    position: relative;
    display: flex;
    align-items:center ;justify-content: center;
    /* border: 1px solid black; */
    top: 5vh;
    width: 10vw;
    margin: auto;
    right: 16vw;
    
}
.box{
    margin: 0;
    top: 9% !important;
    display: grid !important;
    width: inherit;
    grid-template-columns: repeat(3,1fr) !important;
    /* border: 1px solid red; */
    column-gap: 55%;
    position: relative;
    row-gap: 12%;
}
.box>.card>img{
    width: 10vw;
    padding: 11px;
}

@media(max-width:750px){
    body{
        overflow: hidden;
        max-height: 100vh;
        margin: 0;
    }
    .bgg{
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .box-container{
        position: relative;
        top: 30vh;
        right: 38vw;
    }
    .box .card img{
        width: 25vw;
    }

    
    .howdy{
        position: absolute;
    }

    .warden{
        position: absolute;
        width: 38vw;
        top: 12.5vh;
        left: 65vw;

    }

    .score{
        position: relative;
        right: 35vw;
        top: 5vh;
}

    .count{
        position: absolute;
        font-size: 1.7rem;
        top: 20vh;
        text-align:center;
        right: 15vw;
        width: 140px;
        padding: auto;
    }
    
}


