body{
    margin: auto;
    position: absolute;
    overflow: hidden;
}

.mod{
    width: 49%;
    object-fit: cover;
    margin: 7px;
    background-color: rgb(75, 141, 125);
    border-radius: 30px;
    padding: 15px;
}

.box{
    margin-left: 20%;
    margin-top: 9%;
}

.score{
    padding-top: 40px;
    text-align: right;
    position: relative;
    /* position: relative; */
    font-size: 1.8rem;
}

.bgg{
    /* display: block; */
    position: absolute;
    z-index: -1;
    width: 100vw;
    object-fit: cover;
    left: 0;
    /* overflow: hidden; */
}

.pressed{
    background-color: green;
}