/* Front page */

body{
    position: relative;
    height: 100vh;
}



.bggg{
    position: absolute;
    object-fit: cover;
    left: 0;
    top: -35%;
    /* z-index: -1; */

}

.First-container{
    
    height: 100%;
    width: 100%;
    text-align: center;
}

.model{
    width: auto;
    max-height: 50vh;
}

#bunny{
    position: absolute;
    bottom: 3%;
}

#fox{
    position: absolute;
    left: 70%;
    top: 40%;

}

#duck{
    position: absolute;
    right: 70%;
    top: 50%;
}

#gandu{
    position: absolute;
    left: 40%;

}


/* @keyframes animate {
    0%,18%,20%,50%,60%,65%,80%,90%,92%
    {
        color: #0e3742;
        box-shadow: none;
    }
    18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
} */

p{
    position: absolute;
    width: 70%;
    font-size: 1.3em;
}

.p1{
    position: absolute;
    top: 40%;
    right: 49%;
    font-family: Luckiest Guy;
    background: -webkit-linear-gradient(111.81552121797108deg, rgba(247, 79, 79,1) 34.206814236111114%,rgba(255, 0, 0,1) 96.67968749999999%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div{
    width: 100%;
    height: 100%;
}

.txt{
    font-family: Luckiest Guy;
    font-weight: bolder;
    font-style: oblique;
    font-size: 6em;
    color: #F0A500;
    text-transform: uppercase;
    letter-spacing: 15px;
    position: absolute;
    right: 76%;
    top: 10%;
    width: 17%;
    text-shadow: 0 1px 1px #bbb,
		0 2px 0 #999, 
		0 3px 0 #888, 
		0 4px 0 #777, 
		0 5px 0 #666, 
		0 6px 0 #555, 
		0 7px 0 #444, 
		0 8px 0 #333, 
		0 9px 7px #302314;
}

.btn{
    position: absolute;
    top: 60%;
    width: 20%;
    left: 30%;
}

.dropdown{
    bottom: 100%;
    left: 40%;
    width: 55%;
}

/* .txt::before{
    content: 'Toon - Pred';
    position: absolute;
    mix-blend-mode: difference;
    text-shadow: 3px;

}

.wrapper {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.neon-wrapper{
    display: inline-flex;
    filter: brightness(200%);
    overflow: hidden;
} */

