/* Front page */
@font-face{
    font-family: 'looney';
    src: url(/Looney\ Tunes\ Tilt\ BT-FONTSMAGAZINE.ttf);
}

.First-container{
    position: relative;
    height: 100%;
    text-align: center;
}

.head1{
    font-family:Sigmar One;
    font-size: 7rem;
    color:gold;
    position: absolute;
    left: 25%;
    text-shadow:darkred;
}

.head1:hover{
    color: cornsilk;
}

.box{
    height: 200vh;
}

.dropdown{
    margin-right: 0;
    z-index: 1;
    position: relative;
    left: 46%;
}



.radiall{
    height: 110vh;
    /* z-index: -1; */
    position: absolute;
    /* left: 30%; */
    right: 2.3%;
    top: 15%;

}

.wrapp{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #EDCDBB;
    /* background-image: url(/radial_img.jpg); */
    background-size: cover;
    background-position: top center;
    opacity: 0.9;
    height: 130vh;
    padding-top: 3.45%;

}

.innner{
    position: relative;
}

.start{
    width: 20%;
    height: 20%;
    align-items: center;
}